<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
   <listener class-name="com.api.listener.RetryListener"/>
   <listener class-name="com.api.listener.TestNgListener"/>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.api.testscripts.CreateUser"/>
      <class name="com.api.testscripts.BDD"/>
      <class name="com.api.testscripts.GetSingleUser"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
